{% extends 'base.html.twig' %}

{% block title %}Feecare - Messagerie
{% endblock %}

{% block header %}
	<div class="container z-1">
		<nav class="nav nav-pills nav-fill">
			<a class="nav-link border bs-primary" aria-current="page" href="/actualite">Accueil</a>
			<a class="nav-link border" href="/rdv">Rendez-vous</a>
			<a class="nav-link border" href="/traiter">Mes educateurs</a>
			<a class="nav-link border" href="/messagerie">Messagerie</a>
			<a class="nav-link border" href="/map">Nos centres</a>

			<a class="nav-link border" href="/users/logout">Deconnexion</a>
		</nav>
	</div>
{% endblock %}

{% block body %}

	<div class="wrapper">
		<section class="users">


			<header>
				<div class="content">
					<h1>Messagerie - Mes educateurs</h1>
				</div>
			</header>
			<div class="input-group">
				<p>Rechercher un éducateur...</p>
				<input type="text" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon"/>
				<span class="input-group-text border-0" id="search-addon">
					<button type="button" class="btn btn-primary btn-sm">Ok</button>
				</span>
			</div>
			<div class="users-list">
				{% for traitant in list_traitant %}
					<a href="{{ path('conversation', {'userId': traitant.idUser}) }}">
						<div class="content">
							<div class="details">
								<span>
									{{traitant.nom|upper}}
									{{ traitant.prenom|upper }}
								</span>
								<p>last Mess</p>
							</div>
						</div>
					</a>
				{% endfor %}
			</div>
		</section>
	</div>

{% endblock %}
