.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 20% auto;
  /* 15% from the top and centered */
  padding: 20px;
  top: 20px;
  border: 1px solid #888;
  width: 60%;
  /* Could be more or less, depending on screen size */
  border-radius: 10px;
}

.comment-container {
  display: flex;
  justify-content: left;
  align-items: start;
}

/* The Close Button */
.close-modal {
  top: 5px;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#show-likes {
  cursor: pointer;
}

.footer-a {
  text-decoration: none;
}

.footer-a:hover {
  text-decoration-color: black;
}

#map {
  height: 600px;
}