{% extends "base.html.twig" %}

{% block title %}Feecare - Accueil
{% endblock %}

{% block header %}
	<div class="container-fluid bg-secondary">
		<div class="row">
			<div class="col-1">
				<p>
					<a href="/">Bonjour</a>


				</p>
			</div>
			<div class="col text-center">
				<p class="fs-1">Découvrez comment offrir un bel avenir à chacun.</p>
			</div>
		</div><hr class="text-light">

{% endblock %}

	
