{% extends "base.html.twig" %}

{% block title %}Feecare - Accueil
{% endblock %}

{% block header %}
	<div class="container-fluid bg-secondary">
		<div class="row">
			<div class="col-1">
				<p>
					<a href="/">Bonjour</a>


				</p>
			</div>
			<div class="col text-center">
				<p class="fs-1">Découvrez comment offrir un bel avenir à chacun.</p>
			</div>
		</div><hr class="text-light">

		<div class="row">
			<div class="col container p-3">
				<div class="container" style="border-bottom: 1px solid black; display: flex ; vertical-align:middle; margin-left:10px;padding-bottom:7px; ">
					<div style="margin-right:10px">
						<p style="padding:10px 10px 10px 70px; display : flex">Trouvez nos Centre Sociaux Educatifs</p>
					</div>
					<div style="margin-left:10px">

						<a style="background:black" class="btn btn-outline-primary" href="/nosCentres">Nos centres</a>

					</div>
				</div>
				<p class="fs-2 text-light">L'action social, une réponse à chacun.</p>
				<p class="text-light">L’action sociale désigne l'ensemble des moyens par lesquels une société agit sur elle-même pour préserver sa cohésion, 
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						            notamment par des dispositifs législatifs ou réglementaires et par des actions visant à aider les personnes ou les groupes 
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						            les plus fragiles à mieux vivre, à acquérir ou à préserver leur autonomie et à s’adapter au milieu social environnant.</p>
			</div>
			<div class="col container rounded-3 m-3 p-2 bg-light">
				<p class="text-center fs-5">Avez-vous un identifiant ? Saisissez le
				</p>
				<hr>
				<div class="mb-3">
					{% for message in app.flashes('notice') %}
						<div class="alert alert-danger text-center">
							{{ message }}
						</div>
					{% endfor %}
					<div class="list-group-item list-group-item-danger">
						{{error}}
					</div>

					{{form(form)}}
					</div>
				</div>
			</div>
		</div>

		<p style="padding-top:20px; font-size:30px">SONDAGE</p>

		<table id="sondage">
			<tr>
				<td id="td">
					<button class="btn btn-outline-success" id="button1">1</button>
					<p>L'aide et la protection de l enfance citée par
						<input type="text" id="tb1"/>
						personnes sondés</p>
					<p>Pourcentage :
						<input type="text" id="p1"/>%</p>

				</td>
				<td id="td">
					<button class="btn btn-outline-primary" id="button2">2</button>
					<p>La lutte contre l'exclusion des animaux: citée par
						<input type="text" id="tb2"/>
						personnes sondés</p>
					<p>Pourcentage :
						<input type="text" id="p2"/>%</p>
				</td>
			</tr>
			<tr>
				<td id="td">
					<button id="button3" class="btn btn-outline-danger">3</button>
					<p>La protection des animaux: citée également par
						<input type="text" id="tb3"/>
						personnes sondés
					</p>
					<p>Pourcentage :
						<input type="text" id="p3"/>%</p>
				</td>
				<td id="td">
					<button id="button4" class="btn btn-outline-warning">4</button>
					<p>L'aide aux personnes agées: cité par
						<input type="text" id="tb4"/>
						personnes sondés</p>
					<p>Pourcentage :
						<input type="text" id="p4"/>%</p>
				</td>
			</tr>
		</table>
		<div id="perstotal">
			Nombre de personnes qui ont partcipés au vote :
			<input type="text" id="somme"/>
		</div>


	{% endblock %}

	
